*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: end;
    background-color: #86584D;

}

nav li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;

}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

